<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ayub</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./stylesheets/app.css">
</head>

<body>

  <div class="row">
    <div class="medium-8 large-8">
 <d class="titulo">
   EXAMEN FINAL M8 - UF5
 </p>
<p class="minombre">
Mohamed Attabi
</p>
    </div>
    <div class="medium-4 large-4">
      <ul class="menu ">
      <li><a href="#" class="elmenu">Home</a></li>
      <li><a href="#" class="elmenu2">Page</a></li>
      <li><a href="#" class="elmenu2">Grid</a></li>
      <li><a href="#" class="elmenu2">Simple</a></li>
      </ul>
      </div>

    </div>
  </div>



  <div class="row">
    <div class="medium-12 large-12">

      <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
      <img src="img/peus.png">

      <div class="medium-6 large-6 llibreta">
        <img src="img/llibreta.jpg"class="llibreta2">


      </div>

    </div>
</div>
</div>




 <div class="row small-12 large-8 ">
   <div class="column welcome">
 <h4>Welcome</h4>
 <h6 class="welcome2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</h6>
</div>
 </div>


 <div class="row ">
   <div class="medium-4 large-4 column13">
    <h5>1/3 Column</h5>
   </div>
   <div class="medium-4 large-4 column14">

     <h5>1/3 Column</h5>
   </div>

   <div class="medium-4 large-4 column15">
     <h5>1/3 Column</h5>
 </div>
 </div>


 <div class="row ">
   <div class="medium-4 large-4 image13">
    <img class="thumbnail" src="img/img_buida.png">
   </div>
   <div class="medium-4 large-4 image14">

     <img class="thumbnail" src="img/img_buida.png">
   </div>

   <div class="medium-4 large-4 image15">
  <img class="thumbnail" src="img/img_buida.png">
 </div>
 </div>



 <div class="row ">
   <div class="medium-4 large-4 text13">
     <h3>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</h3>
      <p>Read More =</p>
   </div>
   <div class="medium-4 large-4 text14">
     <h3>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</h3>
      <p>Read More =</p>

   </div>

   <div class="medium-4 large-4 text15">
     <h3>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</h3>
    <p>Read More =</p>
 </div>
 </div>


 <div class="row estilo">
   <div class="medium-3 tituloabajo13 ">
    <h7>About Company</h7>
    <h3 class="primer1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</h6>
    <p class="segondorosa">Terms of Use</p>
    <p class="segondorosa">Privacy Policy</p>
    <p class="segondorosa">FAQ</p>
    <p >Sitemap</p>
   </div>

   <div class="medium-3 tituloabajo14 ">
   <h7>Recent Blog Posts</h7>

    <p class="segondorosa">Lorem ipsum dolor sit amet</p>
    <h3 class="primer"> 2 hours ago</h3>
    <p class="segondorosa">Duis mollis, est non commodo luctus</p>
    <h6>5 hours ago</h3>
    <p class="segondorosa">Lorem ipsum dolor sit amet</p>
    <h3 class="primer">19 hours ago</h3>
    <p class="segondorosa">VIEW ALL POSTS</p>

   </div>

   <div class="medium-3 tituloabajo15 ">

      <h7>Sample Fotter Content</h7>
      <h3 class="segundo">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </h3>
      <h3 class="segundo">Aenean massa. Cum sociis natoque penatibus et magnis dis parturient monte</h3>

 </div>

    <div class="medium-3 tituloabajo16 ">
       <h7>Get in Touch</h7>
       <h3 class="primer">Phone:</h3>
       <h3>(123)456 7890 / 456 7891</h3>
       <h3>Email:</h3>
       <p>info@yourdomain.com</p>
       <h3 class="primer">Address:</h3>
       <h3 class="primer">123 Street</h3>
       <h3 class="primer">12345 City,State</h3>
       <h3 class="primer">Country</h3>
       </div>
 </div>
 </div>




</body>

</html>
